.o_list_view td[name="no"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
    white-space: nowrap;
}

.full-width-field {
    width: 100% !important;
}
